__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.eggs/

.env
.env.*
venv/
.venv/
ENV/

.ipynb_checkpoints/
*.ipynb

.DS_Store
Thumbs.db
desktop.ini

*.log
*.tmp
*.bak

.idea/
.vscode/
*.swp
*.swo

catboost_info/
mlruns/
wandb/
tensorboard/

Launch OncoAgent-GBM.bat
